
<%= form_for @book do %>
  <input type="text" name="title" />
   <p><%=  @book.errors[:title].first %></p>
   <% if @book.persisted? %>
   <input type="submit" value="Modifier le titre" />
   
  <% else %>
  <input type="submit" value="Créer le titre" />
   
  <% end %>
<% end %>